* {
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;    
}

body {
    padding: auto;
    margin: 0;
    background-color: rgb(250 249 248);
}

div{

}
.ContenedorGrid {  /*Desktop*/  /* Grilla para el diseño de la web */
    width: 100%;  
    
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:    "H H H H"
                            "N N N N" 
                            "M M M M"
                            "M M M M"
                            "F F F F";  
}

header{
    height: 100px; 
    text-align: center;
    margin: 0px;
    padding: 0px;
    grid-area: H;   /* Identificador para la grilla */
}
h1{
    vertical-align: text-bottom;
    color: black;
}
/*Barra de navergacion*/

nav {
    text-align: center;
    font-weight: bolder;

    grid-area: N;    
}

.FlexboxNav1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: stretch;
    list-style-type: none;  
}

.Nav1 {   
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.Nav1:hover {
    background-color:darkred;
    color: white;  
}

.FlexboxNav1_1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center; 
    list-style-type: none; 
    position: absolute; 
}

.Nav1_1 {
    /*background-color: rgb(130, 192, 255);*/
    background-color: rgba(0, 0, 0, 0.692);    
    color: white;
    text-decoration: none;
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 20px;

    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;  
    border-radius: 2px;  
    min-width: 100px; /* Ajusta este valor según tus necesidades */
    text-align: center; /* Centra el texto en el botón */
}

.Nav1_1:hover {
    background-color:darkred;
    color: white;   
}

.FlexboxNav1_1 {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

/* main */

main{
    grid-area: M;
    padding: 20px;
    
}

/* Barra lateral */
aside {
    width: 0;
    height: 100%;
    top: 50px;
    position: fixed; /* Cambiado a fixed para que no se desplace con la página */
    overflow: hidden;
    transition: 0.5s;
    background-color: rgba(70, 68, 69, 0.9);
    z-index: 2; /* Asegura que la barra lateral tenga un índice z más bajo que el botón */
}

.FlexboxNav2 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: stretch;    
}

.Nav2 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.Nav2:hover {
    background-color: darkred;
    color: white;  
}

#toggleBtn {
    background-color: rgb(250, 249, 248);
    position: fixed;
    left: 0px;
    top: 10px;
    z-index: 3; /* Asegura que el botón tenga un índice z más alto que la barra lateral */
    color: black; /* Color del texto */
    padding: 10px 10px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave al cambiar el color de fondo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
#toggleBtn:hover {    
    background-color: darkred;
    color: white;   /* Cambia el color de fondo al pasar el mouse */
}

.catalogo {
    margin: 15px; /* Espacio alrededor de las imágenes */
    object-fit: cover; /* Para que las imágenes se ajusten al tamaño especificado */
}
.catalogo img{
    width: 150px;
}
/* main */
#imagenamplia{
    
}

footer {
    background-color: rgb(250 249 248);
    text-align: center;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    padding-bottom: 30px;
    grid-area: F;
}

@media screen and (max-width: 900px) and (min-width: 551px) { /*Tablet*/
    .ContenedorGrid {        
        grid-template-columns: repeat(3, 33.3%);
        grid-template-rows: repeat(4, auto);

        grid-template-areas:    "H H H"
                                "N N N"
                                "M M M"                                                                
                                "A F F"; 
    }
}

@media screen and (max-width: 550px) {  /*smartphone*/
    .ContenedorGrid {        
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, auto);

        grid-template-areas:    "H H"
                                "N N"
                                "M M"
                                "A A"                                
                                "F F"; 
    }
}