* {
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;    
}

body {
    padding: auto;
    background-color: rgb(250 249 248);
}

div{

}
.ContenedorGrid {  /*Desktop*/  /* Grilla para el diseño de la web */
    width: 95%;    
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:    "H H H H"
                            "N N N N" 
                            "A M M M"
                            "A M M M"
                            "F F F F";  
}

header{
    height: 100px; 
    text-align: center;
    margin: 0px;
    padding: 0px;
    grid-area: H;   /* Identificador para la grilla */
}
h1{
    vertical-align: text-bottom;
    color: black;
}
/*Barra de navergacion*/

nav {
    text-align: center;
    font-weight: bolder;

    grid-area: N;    
}

.FlexboxNav1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: stretch;
    list-style-type: none;  
}

.Nav1 {   
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.Nav1:hover {
    background-color:darkred;
    color: white;  
}

.FlexboxNav1_1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center; 
    list-style-type: none; 
    position: absolute; 
}

.Nav1_1 {
    /*background-color: rgb(130, 192, 255);*/
    background-color: rgba(0, 0, 0, 0.692);    
    color: white;
    text-decoration: none;
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 20px;

    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;  
    border-radius: 2px;  
    min-width: 100px; /* Ajusta este valor según tus necesidades */
    text-align: center; /* Centra el texto en el botón */
}

.Nav1_1:hover {
    background-color:darkred;
    color: white;   
}

.FlexboxNav1_1 {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}


main{
    grid-area: M;
}
aside{
    grid-area: A;
}

footer {
    background-color: aliceblue;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    padding-bottom: 30px;
    grid-area: F;
}

@media screen and (max-width: 900px) and (min-width: 551px) { /*Tablet*/
    .ContenedorGrid {        
        grid-template-columns: repeat(3, 33.3%);
        grid-template-rows: repeat(4, auto);

        grid-template-areas:    "H H H"
                                "N N N"
                                "M M M"                                                                
                                "A F F"; 
    }
}

@media screen and (max-width: 550px) {  /*smartphone*/
    .ContenedorGrid {        
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, auto);

        grid-template-areas:    "H H"
                                "N N"
                                "M M"
                                "A A"                                
                                "F F"; 
    }
}